/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1{font-family: 'Open Sans', sans-serif;}
h3{font-family: 'Open Sans', sans-serif;}
p{font-family: 'Open Sans', sans-serif;}

/* Collums */
.col-wrapper{width:9999px; margin:0 auto;}
.col{margin:0 10px; float:left; display:inline;}
.col-670{width:670px;}
.col-250{width:250px;}

/* Colour Change */
    body {
      animation: colorchange 20s; 			/* animation-name followed by duration in seconds*/
         									/* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 20s; 	/* Chrome and Safari */
      animation-iteration-count:infinite;
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    /* More safari/chrome specific duplicates */ 
    @-webkit-keyframes colorchange 
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

input
{
    -moz-border-radius: 15px;
 	border-radius: 15px;
    border:solid 2px black;
    padding:5px;
}